<template name="champagne">
    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/champ/brut.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-2">
                        <b>Blanc de Noirs Brut</b><br>
                        27.80€ <br>
                        <span class="text-small">{{#if get_lang "en"}}(bottle){{/if}}
                            {{#if get_lang "fr"}}(bouteille){{/if}}
                            {{#if get_lang "pt"}}(garrafa){{/if}}</span>
                    </h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        <p>100% Pinot Noire
                            {{#if get_lang "en"}}Fresh and fruity <br> <i>"At any time"</i>{{/if}}
                            {{#if get_lang "fr"}}Frais et fruité <br> <i>"À tout moment"</i>{{/if}}
                            {{#if get_lang "pt"}}Fresco e frutado <br> <i>"A qualquer momento"</i>{{/if}}
                        </p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/champ/rose.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-2">
                        <b>Rosé Assemblage Brut</b><br>
                        31.40€ <br>
                        <span class="text-small">{{#if get_lang "en"}}(bottle){{/if}}
                            {{#if get_lang "fr"}}(bouteille){{/if}}
                            {{#if get_lang "pt"}}(garrafa){{/if}}</span>
                    </h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        <p>{{#if get_lang "en"}}Red Wine (Pinot Noir: 15%)<br>
                            & white wine (Chardonnay: 85%)<br>
                            Fruity and delicious<br>
                            2 years of assembly<br>
                            2 to 3 years of cellar <br> <i>"Colorful aperitif"</i>{{/if}}
                            {{#if get_lang "fr"}}Vin Rouge (Pinot Noir: 15%)<br>
                            & vin blanc (Chardonnay: 85%)<br>
                            Fruité et gourmand<br>
                            2 années d'assemblage<br>
                            2 à 3 and de cave <br> <i>"Aperitif coloré "</i>{{/if}}
                            {{#if get_lang "pt"}}Vinho Tinto (Pinot Noir: 15%)<br>
                            e vinho branco (Chardonnay: 85%)<br>
                            Frutado e delicioso<br>
                            2 anos de montagem<br>
                            2 a 3 anos de adega <br> <i>"Aperitivo colorido"</i>{{/if}}</p>

                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/champ/blancs.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-2">
                        <b>Blanc de Blanc Brut</b><br>
                        31.40€ <br>
                        <span class="text-small">{{#if get_lang "en"}}(bottle){{/if}}
                            {{#if get_lang "fr"}}(bouteille){{/if}}
                            {{#if get_lang "pt"}}(garrafa){{/if}}</span>
                    </h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        <p>100% Chardonnay
                            {{#if get_lang "en"}}Thin and elegant<br>
                            3 years of assembly<br>
                            3 to 4 years in the cellar <br> <i>"Aperitif & fish"</i>{{/if}}
                            {{#if get_lang "fr"}}Fin et élégant<br>
                            3 années d'assemblage<br>
                            3 à 4 ans de cave<br> <i>"Apéritif & poisson"</i>{{/if}}
                            {{#if get_lang "pt"}}Fino e elegante<br>
                            3 anos de montagem<br>
                            3 a 4 anos na adega <br> <i>"Aperitivo e peixe"</i>{{/if}}
                        </p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/champ/rj_rose.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-2">
                        <b>Cuvée Spéciale "RJ" Rosé</b><br>
                        48.00€ <br>
                        <span class="text-small">{{#if get_lang "en"}}(bottle){{/if}}
                            {{#if get_lang "fr"}}(bouteille){{/if}}
                            {{#if get_lang "pt"}}(garrafa){{/if}}</span>
                    </h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        <p>100% Pinot Noire<br>
                            {{#if get_lang "en"}}Short maceration rosé (20h)<br>
                            The grapes were carefully sorted and then destemmed before the
                            tanked on September 25, 2006.<br>
                            Brut, intense, fruity and powerful bleeding rosé<br> <i>"Seduction & red fruits"</i>{{/if}}
                            {{#if get_lang "fr"}}Rosé de macération courte (20h)<br>
                            Les raisins ont été soigneusement triés puis éraflés avant la
                            mise en cuve, le 25 septembre 2006.<br>
                            Brut, rosé de saignée intense, fruité et puissant <br> <i>"Séduction & fruits rouges"</i>{{/if}}
                            {{#if get_lang "pt"}}Maceração curta rosé (20h)<br>
                            As uvas foram cuidadosamente selecionadas e desengaçadas antes do
                            interrompido em 25 de setembro de 2006.<br>
                            Rosé brut, intenso, frutado e poderoso <br> <i>"Sedução e frutas vermelhas"</i>{{/if}}
                        </p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/champ/rj.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-2">
                        <b>Cuvée Spéciale "RJ"</b><br>
                        48.00€ <br>
                        <span class="text-small">{{#if get_lang "en"}}(bottle){{/if}}
                            {{#if get_lang "fr"}}(bouteille){{/if}}
                            {{#if get_lang "pt"}}(garrafa){{/if}}</span>
                    </h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        <p>
                            {{#if get_lang "en"}}Blend of Chardonnay (54%) and Pinot Noir (46%)<br>
                            Only wines from two exceptional years will be used.<br>
                            Raw, complex and expressive<br> <i>"Rare moments with friends"</i>{{/if}}
                            {{#if get_lang "fr"}}Assemblage de Chardonnay (54%) et de Pinot noir (46%)<br>
                            Seuls les vins de deux années exceptionnelles vont être utilisés.<br>
                            Brut, complexe et expressif <br> <i>"Moments rares entre amis"</i>{{/if}}
                            {{#if get_lang "pt"}}Mistura de Chardonnay (54%) e Pinot Noir (46%)<br>
                            Apenas vinhos de dois anos excepcionais serão utilizados.<br>
                            Cru, complexo e expressivo <br> <i>"Momentos raros com amigos"</i>{{/if}}
                        </p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/champ/editio.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-2">
                        <b>Editio</b><br>
                        105.20€ <br>
                        <span class="text-small">{{#if get_lang "en"}}(bottle){{/if}}
                            {{#if get_lang "fr"}}(bouteille){{/if}}
                            {{#if get_lang "pt"}}(garrafa){{/if}}</span>
                    </h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        <p>100% Pinot Noire
                            {{#if get_lang "en"}}50% Pinot noir & 50% Chardonnay<br>
                            Cuvée aged on stopper and staple. Original Method. <br> <i>"Evolved champagne, very aromatic in fruit and honey.
                                Sweet and creamy. Low acidity. To taste now."</i> - Andreas Larsson - Best Sommelier of the World 2007{{/if}}
                            {{#if get_lang "fr"}}50% Pinot noir & 50% Chardonnay<br>
                            Cuvée vieillie sur bouchon et agrafe.Méthode Originelle. <br> <i>"Champagne évolué, très aromatique en fruits et en miel.
                                Sucré et crémeux. Acidité faible. A déguster dès maintenant."</i> - Andreas Larsson - Meilleur sommelier du Monde 2007{{/if}}
                            {{#if get_lang "pt"}}50% Pinot noir e 50% Chardonnay
                            Cuvée envelhecida em rolha e grampo Método Original. <br> <i>"Champanhe evoluído, muito aromático a fruta e mel.
                                Doce e cremoso. Baixa acidez. Para provar agora."</i> - Andreas Larsson - Melhor Sommelier do Mundo 2007{{/if}}
                        </p>
                    </span>
                </div>
            </div>
        </div>

    </div>
</template>