<template name="menu">
    <div class="row">
        <div class="col-12">
            <h3 class="text-uppercase">
                {{#if get_lang "en"}}Starters / Snacks{{/if}}
                {{#if get_lang "pt"}}Entradas / Snacks{{/if}}
                {{#if get_lang "fr"}}Entrées / Snacks{{/if}}
            </h3>
            <hr>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/salade.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        11.50€ - 375Kcal
                    </span>
                    <h4 class="card-title mt-2">Salade du chef</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}G's salad with chicken breast{{/if}}
                        {{#if get_lang "pt"}}Salada do chef com rolo de peito e frango{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/pate.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        5.90€ - 316kcal
                    </span>
                    <h4 class="card-title mt-2">G'S Patê</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Home-made chicken liver pâté with croutons{{/if}}
                        {{#if get_lang "pt"}}Paté caseiro de fígado de galinha{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/crevette.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        11.80€ - 490kcal
                    </span>
                    <h4 class="card-title mt-2">Crevette Provençal</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Prawns in garlic butter served in bread{{/if}}
                        {{#if get_lang "pt"}}Camarão com alho servido no pão{{/if}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- PEIXE / MARISCO -->
    <div class="row">
        <div class="col-12">
            <h3 class="text-uppercase">
                {{#if get_lang "en"}}Fish / Seafood{{/if}}
                {{#if get_lang "pt"}}Peixe / Marisco{{/if}}
                {{#if get_lang "fr"}}Poissons / Fruits de Mer{{/if}}
            </h3>
            <hr>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/fumado.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        11.50€ - 349kcal
                    </span>
                    <h4 class="card-title mt-2">Salade Saumon Fumé</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Potato salad with sliced smoked salmon fillet{{/if}}
                        {{#if get_lang "pt"}}Salada de batata com lombo de salmao fumado fatiado{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/robalo.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        12.80€ - 360kcal
                    </span>
                    <h4 class="card-title mt-2">Ratatouille Au Loup De Mer</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Ratatouille with seabass{{/if}}
                        {{#if get_lang "pt"}}Ratatouille com robalo{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/moules.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        11.80€ - 486kcal
                    </span>
                    <h4 class="card-title mt-2">Moules Frites</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Mussels in a white wine and cream sauce and chips{{/if}}
                        {{#if get_lang "pt"}}Mexilhões cozidos eom vinho branco com batata frita{{/if}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Vegetariano -->
    <div class="row">
        <div class="col-12">
            <h3 class="text-uppercase">
                {{#if get_lang "en"}}Vegetarian{{/if}}
                {{#if get_lang "pt"}}Vegetariano{{/if}}
                {{#if get_lang "fr"}}végétarienne{{/if}}
            </h3>
            <hr>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/ovo.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        7.80€ - 350kcal
                    </span>
                    <h4 class="card-title mt-2">Ratatouille Au L'oeuf</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Ratatouille with fried egg{{/if}}
                        {{#if get_lang "pt"}}Ratatouille com ovo{{/if}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Carnes -->
    <div class="row">
        <div class="col-12">
            <h3 class="text-uppercase">
                {{#if get_lang "en"}}Meat{{/if}}
                {{#if get_lang "pt"}}Carnes{{/if}}
                {{#if get_lang "fr"}}Viande{{/if}}
            </h3>
            <hr>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/confit.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        14.50€ - 462kcal
                    </span>
                    <h4 class="card-title mt-2">Confit De Canard</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Duck confit with sweet potato and pupkin{{/if}}
                        {{#if get_lang "pt"}}Pato confitado com batata doce e abóbora{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/tartare.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        16.80€ - 464kcal
                    </span>
                    <h4 class="card-title mt-2">Tartare De Boeuf</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Hand cut filet steak tartare with croutons{{/if}}
                        {{#if get_lang "pt"}}Bife do lombo tártaro picado com a faca{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/bavette.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        15.80€ - 534kcal
                    </span>
                    <h4 class="card-title mt-2">Bavette À L'Échalote</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Flank steak with shalotts sauce{{/if}}
                        {{#if get_lang "pt"}}Bife da fraldinha com molho de chalotas{{/if}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Sobremesas -->
    <div class="row">
        <div class="col-12">
            <h3 class="text-uppercase">
                {{#if get_lang "en"}}Desserts{{/if}}
                {{#if get_lang "pt"}}Sobremesas{{/if}}
                {{#if get_lang "fr"}}Desserts{{/if}}
            </h3>
            <hr>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/tatin.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.50€ - 277kcal
                    </span>
                    <h4 class="card-title mt-2">Tarte Tatin</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}French apple tart{{/if}}
                        {{#if get_lang "pt"}}Tarte de maçãs caramelizadas{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/creme.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.80€ - 289kcal
                    </span>
                    <h4 class="card-title mt-2">Crème Brûlée</h4>
                    <span class="card-subtitle text-gray font-weight-normal">
                        {{#if get_lang "en"}}Vanilla Créme Brûlée{{/if}}
                        {{#if get_lang "pt"}}Créme Brûlée com baunilha{{/if}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/profiteroles.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.80€ - 413kcal
                    </span>
                    <h4 class="card-title mt-2">Profiteroles Au Chocolat</h4>
                    {{#if get_lang "en"}}Profiteroles with vanilla icecream and chocolate sauce{{/if}}
                    {{#if get_lang "pt"}}Profiteroles recheados de gelado de baunilha com molho chocolate{{/if}}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="/img/gourmand.jpg" class="card-img-top rounded shadow border-0" alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.80€ - 271kcal
                    </span>
                    <h4 class="card-title mt-2">Café Gourmand</h4>
                    {{#if get_lang "en"}}Sweet coffee{{/if}}
                    {{#if get_lang "pt"}}Café guloso{{/if}}
                </div>
            </div>
        </div>
    </div>
</template>