<template name="menu">
    <div class="row">
        <div class="col-12">
            <h3>Entradas/Snacks</h3>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        11.50€
                    </span>
                    <h4 class="card-title mt-2">Salade du chef</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        5.90€
                    </span>
                    <h4 class="card-title mt-2">G'S Patê</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        11.80€
                    </span>
                    <h4 class="card-title mt-2">Crevette Provençal</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- PEIXE / MARISCO -->
    <div class="row">
        <div class="col-12">
            <h3>Peixe/Marisco</h3>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        12.80€
                    </span>
                    <h4 class="card-title mt-2">Ratatouille Au Loup De Mer</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        11.80€
                    </span>
                    <h4 class="card-title mt-2">Moules Frites</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Vegetariano -->
    <div class="row">
        <div class="col-12">
            <h3>Vegetariano</h3>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        7.80€
                    </span>
                    <h4 class="card-title mt-2">Ratatouille Au L'oeuf</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Carnes -->
    <div class="row">
        <div class="col-12">
            <h3>Carnes</h3>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        14.50€
                    </span>
                    <h4 class="card-title mt-2">Confit De Canard</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        16.80€
                    </span>
                    <h4 class="card-title mt-2">Tartare De Boeuf</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        15.80€
                    </span>
                    <h4 class="card-title mt-2">Bavette À L'Échalote</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Sobremesas -->
    <div class="row">
        <div class="col-12">
            <h3>Sobremesas</h3>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.50€
                    </span>
                    <h4 class="card-title mt-2">Tarte Tatin</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.80€
                    </span>
                    <h4 class="card-title mt-2">Crème Brûlée</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.80€
                    </span>
                    <h4 class="card-title mt-2">Profiteroles Au Chocolat</h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0"
                        alt="image">
                </div>
                <div class="card-body">
                    <span class="card-subtitle text-gray font-weight-normal">
                        4.80€
                    </span>
                    <h4 class="card-title mt-2">Café Gourmand</h4>
                </div>
            </div>
        </div>
    </div>
</template>